

.header-wrapper{
    min-width: 320px;
    white-space: wrap;
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    color:#7E7E82 ;
    text-transform: uppercase;
    padding: 16px;
    border-top: 1px solid #D9FFF5;
}
.main-wrapper{
    font-family: 'TT Lakes';
}

.show-more__button{
    margin-left: 24px;
    font-family: 'TT Lakes';
    display: flex;
    align-items: center;    
}
.show-more__button-title{
    font-weight: 600;
}
.swiper-slide{
    display: flex;
    justify-content: space-between;
    width: 240px;
    height: 72px;
    padding: 16px;
    border: 1px solid #EAEAEA;
    border-radius: 10px;
    align-items: center;
}
.swiper-wrapper{
    margin-left: 16px;
    height: 80px;
}
.swiper-pagination{
    position: relative;
    margin-top: 16px;
}
.swiper-pagination-bullet{
width: 12px;
height: 12px;
background-color:#DDDDDD ;
opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color:#B5B6BC;
}
.no_swiper-wrapper{
    margin-bottom: 0;
}


.rotate{
transform: rotate(180deg);
}
@media(min-width:320px){
    .show-more__button{
        display: none;
    }
    .swiper-wrapper{
        margin-bottom: 16px;
    }
}


@media(min-width:768px){
    .header-wrapper{
        padding-left: 24px;
    }
    .main-wrapper{
        margin-left: 24px;
        padding-top: 24px;
    }
    .no_swiper-wrapper{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 16px;
        max-width: 100px;
        min-height: 159px;
        overflow-x: visible;

    }
    .swiper-wrapper.expanded{
        min-height: 240px;
        display: grid;
        row-gap:16px;
        }
    .show-more__button{
        display: flex;
        margin-top: 8px;
    }
    .swiper-pagination{
        position: absolute;
        display: none;
    }
}


@media(min-width:1120px){
    .no_swiper-wrapper{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        row-gap: 16px;
        min-width: 248px;
        column-gap: 32px;
        margin-left: 32px;
    }

    .show-more__button{
        margin-left: 32px;
        margin-top: 16px;
    }
    .header-wrapper{
        padding-left: 32px;
    }
}